<a href="https://colab.research.google.com/github/Karmabir-Brahma/Python/blob/master/If_else_and_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Q) Write a program that asks the user to enter a number. Program should then return either the number is even or odd.**

In [3]:
num = input("Enter an integer: ")
num = int(num)

if num%2==0:
  print(num," is an even integer")
else:
  print(num," is an odd integer")

Enter an integer: 90
90  is an even integer

# **Q) Write a program that asks user to enter dish name and it should print which cusine is that dish.**

In [4]:
indian = ["Tea","Idli","Dosa","Samosa","Sambar"]
chinese = ["Noodles","Shushi","Fujian","Hunan"]
italian = ["Pizza","Pasta","Risotto","Panini"]

dish = input("Enter a cusine: ")
if dish in indian:
  print(dish,"is Indian cusine")
elif dish in chinese:
  print(dish,"is Chinese cusine")
elif dish in italian:
  print(dish,"is Italian cusine")
else:
  print(dish,"is not in list")

Enter a cusine: Hunan
Hunan is Chinese

# **Loops**

# **Q) Write a program that stores monthly expenses in a list and find out total expenses for all months**

In [6]:
expenses = [2500,2800,2100,3000,1900,3000,2200,1500,2000,3300,2700,2300]
total=0
for i in expenses:
  total += i
print(total)

29300

# **Range function**

In [10]:
for i in range(5):
  print(i)

0
1
2
3
4

In [11]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
for i in range(1,12,2):
  print(i)

1
3
5
7
9
11

# **Q)In our monthly expense example, print month number and expense and then in the end print total expense**

In [14]:
expenses = [2500,2800,2100,3000,1900,3000,2200,1500,2000,3300,2700,2300]
total=0

for i in range(len(expenses)):
  print("Month",i+1," expense is",expenses[i])
  total += expenses[i]
print("Total expense is",total)

Month 1  expense is 2500
Month 2  expense is 2800
Month 3  expense is 2100
Month 4  expense is 3000
Month 5  expense is 1900
Month 6  expense is 3000
Month 7  expense is 2200
Month 8  expense is 1500
Month 9  expense is 2000
Month 10  expense is 3300
Month 11  expense is 2700
Month 12  expense is 2300
Total expense is 29300

In [15]:
key_location = "chair"
locations = ["garage","living room","chair","closet"]

if key_location in locations:
  print("key is found in",key_location)

key is found in chair

# **Q)Print square of numbers from 1 to 10 except even numbers**

In [18]:
for i in range(1,11):
  if(i%2==0):
    continue
  else:
    print("Square of",i,"is",i*i)

Square of 1 is 1
Square of 3 is 9
Square of 5 is 25
Square of 7 is 49
Square of 9 is 81

# ***Using while loop print all even numbers from 1 to 20***

In [22]:
i=1
while(i<=20):
  if(i%2==0):
    print(i)
  i = i+1

2
4
6
8
10
12
14
16
18
20